@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-family-lato: "Lato", sans-serif;
    --thin: 100;
    --light: 300;
    --regular: 400;
    --bold: 700;
    --black: 900;
    --normal: normal;
    --italic: italic;
    --font-size-xs: 0.875rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 4rem;

    --color-primary: #1A237E;
    --color-primary-light: #3D3D85;
    --color-primary-lighter: #5C6BC0;
    --color-contrast: #24d3fe;
    --color-text: #353470;

    --color-secondary: #E8EAF6;
    --color-accent: #FF6F00;

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #9E9E9E;
    --color-purple: #8654ff;
    --color-green: #2eda8a;


}

body {
    font-family: var(--font-family-lato);
    font-size: var(--font-size-md);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 35px;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    box-shadow: 0px 1px 5px rgba(170, 170, 170, 0.453);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
}

header .safe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.safe h3 {
    font-size: var(--font-size-xs);
    font-weight: var(--regular);
    color: var(--color-gray);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0;
}

/* side-menu */

.sidebar {
    width: 15%;
    height: calc(100vh - 66px);
    position: fixed;
    top: 66px;
    padding: 2rem 1rem;
    left: 0;
    background-color: var(--color-primary-light, #1A237E);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: none;
}

.sidebar .sidebar-icons {
    background-color: #353470;
    width: 24%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sidebar .sidebar-inner {
    position: absolute;
    width: 100%;
    left: 0;
}

.sidebar .sidebar-inner a:hover {
    background-color: #4d4d9c;
    color: var(--color-contrast);
    transition: .4s ease-out all;
}

.sidebar .items {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.9rem 1.5rem;
}

.sidebar .items p {
    margin: 0;
}

.sidebar .items i {
    color: var(--color-contrast);
}

.sidebar .items img {
    width: 22px;
}

.items .icones-side {
    margin-right: 2.5rem;
}

.sidebar .items#information p {
    color: var(--color-contrast);
    font-weight: var(--bold);
}

.sidebar .items#information p,
#information span {
    font-size: .7rem !important;
    margin-bottom: 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: var(--font-size-sm);
}

.sidebar span {
    font-size: var(--font-size-sm);
    opacity: 0.8;
}

.sidebar .sidebar-logo {
    position: absolute;
    width: 40%;
    bottom: 2rem;
    left: 60%;
    transform: translateX(-50%);
}

.sidebar .sidebar-logo img {
    width: 100%;
}


main.document {
    margin-left: 16%;
    margin-top: 80px;
    padding: 2rem;
    width: calc(100% - 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.document .title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.document .title h2 {
    font-size: var(--font-size-lg);
    font-weight: 400;
    color: var(--color-text);
}

.document .title .actions {
    display: flex;
    gap: 1rem;
}

.document .title .actions button {
    background-color: transparent;
    border-radius: 4rem;
    padding: .2rem 1.5rem;
    border: none;
}

.document .title .actions #btn-download {
    background: #FFF;
    border: solid 1px #8654FF;
    color: #8654FF;
    font-weight: 400;
    font-size: var(--font-size-xs);
}

.document .title .actions #btn-download:hover {
    color: #fff;
    background-color: #8654FF;
    transition: .4s all;
}

.document .title .actions #btn-assinar {
    background: #2eda8a;

    color: #fff;
    font-weight: 400;
    font-size: var(--font-size-xs);
}

.document .title .actions #btn-assinar:hover {
    background: #2cca80;
    transition: .4s all;
}

.document .pdf-container {
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
}

.document .pdf-container iframe {
    width: 100%;
    height: 100vh;
}

/* step 1 */

.step {
    margin-left: 16%;
    margin-top: 80px;
    padding: 2rem;
    width: calc(100% - 16%);
}

.step .title h2 {
    font-size: var(--font-size-lg);
    font-weight: 400;
    color: var(--color-text);
}

.step p {
    font-size: var(--font-size-sm);
    width: 50%;
    color: var(--color-gray);
    font-weight: 400;
}

.step p span {
    color: var(--color-purple);
    font-weight: 500;
}

.step .steps {
    margin-top: 3rem;
    width: 60%;
}

.step .steps form small {
    font-size: .7rem;
    color: var(--color-purple);

}

.step .steps .buttons {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.step .steps .buttons #next {
    background-color: var(--color-green);
    color: #fff;
    border-color: transparent;
}

.step .steps .buttons #next:hover {
    background-color: #2cca80;
}

.step .steps .buttons button {
    background-color: transparent;
    border: 1px solid var(--color-gray);
    padding: .5rem 2rem;
    font-size: .8rem;
    border-radius: 1rem;
}

.step .steps .buttons button:hover {
    background-color: #e2e2e274;
}

.step .steps .termos {
    font-size: .7rem;
    text-align: right;
    width: 100%;
    margin-top: 4rem;
}

.step .steps .title {
    margin-bottom: 1rem;
}

.step .steps .title h3 {
    color: var(--color-gray);
    font-weight: 400;
    font-size: var(--font-size-sm);
}

.step .steps .field {
    width: 100%;
    margin-bottom: 1rem;
    font-size: var(--font-size-sm);
}

.step .steps .field label {
    color: var(--color-primary);
}

.step .steps .field input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-purple);
    padding-top: 1rem;
    padding-bottom: .5rem;
    color: #919191;
}

.step .steps .field input:focus {
    outline: none;
}

#step2 .content-signature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#step2 .content-signature .choosen {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

#step2 .content-signature .choosen .choosed h3 {
    font-size: var(--font-size-sm);
    text-transform: uppercase;
}

#step2 .content-signature .choosen .choosed.active {
    color: var(--color-purple);
    border-bottom: 1px solid;
    padding: 0 1.5rem;
}

#step2 .content-signature .signature {
    margin-top: 2rem;
}

.signature-field {
    display: none;
}

.signature-field.active {
    display: block;
}

#step2 .content-signature .signature #signature-write {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#step2 .content-signature .signature #signature-write input {
    border: 0;
    text-align: center;
    font-size: var(--font-size-sm);
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--color-purple);
}

#step2 .content-signature .signature #signature-write input:focus {
    outline: none;
}

#step2 .content-signature .signature #signature-write .choose-style {
    display: flex;
    justify-content: space-between;
}

#step2 .content-signature .signature #signature-draw{
    flex-direction: column;
    gap: 1rem;
}

#step2 .content-signature .signature #signature-write .choose-style button {
    background-color: transparent;
    border: none;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    color: var(--color-gray);
    padding-bottom: 1rem;
    padding-right: 12px;
    padding-left: 12px;
}

#step2 .content-signature .signature #signature-write .choose-style button.active {
    color: var(--color-purple);
    border-bottom: 1px solid var(--color-purple);
}

#step2 .content-signature .signature #signature-write .container-write {
    border: 1px solid var(--color-gray);
    width: 100%;
    height: 100px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-lg);
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal-body a {
    background-color: var(--color-green);
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: .5rem;
    border-radius: 7rem;
    font-size: var(--font-size-sm);
}

.modal-body a:hover {
    background-color: #2cca80;
}

.content .identity {
    width: 200px;
    border-radius: 1rem;
    background-color: #d9d9d96b;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.content .identity.active {
    background-color: var(--color-green);
    color: #fff;
}

.buttons-action {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.buttons-action p{
    background-color: var(--color-green);
    color: #fff;
    width: 30%;
    text-align: center;
    padding: 12px;
    margin: 0;
}

.buttons-cenarios{
    display: flex;
    justify-content: space-between;
}

.buttons-cenarios button{
    background-color: transparent;
    border-radius: 12px;
    font-size: var(--font-size-sm);
    padding: 6px;
    padding-left: 33px;
    padding-right: 33px;
    border: 1px solid var(--color-gray)
}

.buttons-cenarios button#next{
    background-color: var(--color-green);
    color: #fff;
    border: 1px solid;   
}

.cenario2 h3{
    color: var(--color-green);
}

.voice{
    display: flex;
    justify-content: center;
    align-items: center;
}

.voice img{
    width: 30%;
    height: 10%;
}

.microphone{
    background-color: var(--color-green);
    width: 80px;
    height: 80px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    position: relative;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10rem;
    margin-bottom: 4rem;
    cursor: pointer;
}

.microphone:hover{
    background-color: #2cca80;
}

canvas{
    border: 1px solid var(--color-gray);
    border-radius: 12px;
}