<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsSign | É simples assinar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="../public/assets/css/responsive.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/" title="Logo LetsSign">
                <img src="../public/assets/img/identity/logo_only_logo.png" alt="Logo da letsSign"
                    title="Logo da LetsSign" width="100%">
            </a>
        </div>

        <div class="safe">
            <h3>Ambiente seguro LetsSign</h3>
            <img src="../public/assets/icons/ic-security-safety.svg" alt="Icone de segurança" title="Icone de segurança"
                width="10%" style="margin-top: -4px;">
        </div>
    </header>

    <main class="container" id="cenarios" style="margin-top: 7%">
        <div class="title">
            <h3>Diga a frase que chegou ao seu e-mail</h3>
            <p>Certifique-se de que você esteja em um local com pouco ruído</p>
        </div>

        <div class="voice">
            <img src="../public/assets/img/voice.png" alt="">
        </div>

        <div class="microphone">
            <i class="fa-solid fa-microphone-lines"></i>
        </div>

        <div id="validationMessage" style="display: none; text-align: center; margin-top: 20px;">
            <p style="font-size: 2rem;">Validação de voz feita com sucesso!</p>
            <i class="fa-solid fa-circle-check" style="font-size: 6rem; color:#2eda8a ;"></i>
        </div>

        <div class="buttons-cenarios">
            <button id="back">voltar</button>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
        <script src="../public/assets/js/actionsButtons.js"></script>
        <script src="../public/assets/js/microphone.js"></script>
</body>

</html>